<html lang="en" ng-app="ConsoleApplication">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="assets/css/app.css"/>
</head>
<body layout="column" ng-controller="app"  layout-margin layout-fill layout-padding>
    <div class="menu" flex>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span class="md-flex">Connection Setup</span>
            </div>
        </md-toolbar>
        <md-content class="md-padding" layout="row" layout-align="space-around center">
            <md-input-container>
                <label>Hostname</label>
                <input ng-model="connection.hostname" type="text">
            </md-input-container>
            <md-input-container>
                <label>Port</label>
                <input ng-model="connection.port" type="number" step="10" min="80" max="65535">
            </md-input-container>
            <md-input-container>
                <label>Context</label>
                <input ng-model="connection.context" type="text">
            </md-input-container>
            <md-input-container>
                <label>Username</label>
                <input ng-model="connection.username" type="text">
                <md-tooltip>to authenticate</md-tooltip>
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input type="password" ng-model="connection.password">
                <md-tooltip>to authenticate</md-tooltip>
            </md-input-container>
            <md-checkbox ng-model="connection.secure">
                <md-tooltip>Enabled TLS</md-tooltip>
                Secure
            </md-checkbox>
            <md-button class="md-raised">
                <md-tooltip>Connect to the server</md-tooltip>
                Connect
            </md-button>
        </md-content>
        <md-content class="md-padding" layout="row" layout-align="space-around center">
            <div>
                <md-checkbox ng-model="connection.autoconfig">
                    Automatic Configuration
                    <md-tooltip>Auto-configuration report</md-tooltip>
                </md-checkbox>
                <md-checkbox ng-model="connection.beans">
                    Beans
                    <md-tooltip>List of all the Spring Beans</md-tooltip>
                </md-checkbox>
            </div>
            <div>
                <md-checkbox ng-model="connection.configprops">
                    Properties
                    <md-tooltip>List of all @ConfigurationProperties</md-tooltip>
                </md-checkbox>
                <md-checkbox ng-model="connection.dump">
                    Thread Dump
                    <md-tooltip>Performs a thread dump</md-tooltip>
                </md-checkbox>
            </div>
            <div>
                <md-checkbox ng-model="connection.env">
                    Environment
                    <md-tooltip>Properties from ConfigurableEnvironment</md-tooltip>
                </md-checkbox>
                <md-checkbox ng-model="connection.health">
                    Health Information
                    <md-tooltip>Application health information</md-tooltip>
                </md-checkbox>
            </div>
            <div>
                <md-checkbox ng-model="connection.info">
                    Info
                    <md-tooltip>Arbitrary application info</md-tooltip>
                </md-checkbox>
                <md-checkbox ng-model="connection.metrics">
                    Metrics
                    <md-tooltip>Shows ‘metrics’ information</md-tooltip>
                </md-checkbox>
            </div>
            <div>
                <md-checkbox ng-model="connection.mappings">
                    Resource Mappings
                    <md-tooltip>All @RequestMapping paths</md-tooltip>
                </md-checkbox>
                <md-checkbox ng-model="connection.trace">
                    Trace
                    <md-tooltip>Trace Information</md-tooltip>
                </md-checkbox>
            </div>
        </md-content>
    </div>
    <div class="content" layout="row" flex>
        <md-tabs md-selected="data.selectedIndex">
            <md-tab>Automatic Configuration</md-tab>
            <md-tab>Beans</md-tab>
            <md-tab>Properties</md-tab>
            <md-tab>Thread Dump</md-tab>
            <md-tab>Environment</md-tab>
            <md-tab>Health Information</md-tab>
            <md-tab>Info</md-tab>
            <md-tab>Metrics</md-tab>
            <md-tab>Resource Mappings</md-tab>
            <md-tab>Trace</md-tab>
        </md-tabs>
    </div>

<!-- Angular Material Dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-aria.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>
<script src="./app.js"></script>
</body>
</html>
